<main>
    <link rel="stylesheet" href="./css/styleSub.css">
  <form action="http://flip1.engr.oregonstate.edu:58471/">
    <input type="submit" value="Back to Main Page" />
  </form>
  <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
    <input type="submit" value="Back to rover list" />
  </form>
  </div>
  <div class="webTitle">
    <div class="row">
      <h1>Apollo 15 Lunar Rover Vehicle</h1>
    </div>
  </div>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <h1></h1>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Apollo15LunarRover.jpg" alt="" />
        </div>
      </div>
      <div class="row">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">View more photos</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Apollo15LunarRover.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>The Lunar Roving Vehicle (LRV) is a battery-powered four-wheeled rover used on the Moon in the last three
            missions of the American Apollo program (15, 16, and 17) during 1971 and 1972. It is popularly called the
            Moon buggy, a play on the term dune buggy.

            Built by Boeing, each LRV has a mass of 460 pounds (210 kg) without payload. It could carry a maximum
            payload of 1,080 pounds (490 kg), including two astronauts, equipment, and lunar samples, and was designed
            for a top speed of 8 miles per hour (13 km/h), although it achieved a top speed of 11.2 miles per hour (18.0
            km/h) on its last mission, Apollo 17.

            Each LRV was carried to the Moon folded up in the Lunar Module's Quadrant 1 Bay. After being unpacked, each
            was driven an average of 30 km, without major incident. These three LRVs remain on the Moon.</p>
        </div>
      </div>
  </section>
</main>
<script src="./scriptsub.js"></script>