<main>
    <link rel="stylesheet" href="./css/styleSub.css">
  <form action="http://flip1.engr.oregonstate.edu:58471/">
    <input type="submit" value="Back to Main Page" />
  </form>
  <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
    <input type="submit" value="Back to rover list" />
  </form>
  </div>
  <div class="webTitle">
    <div class="row">
      <h1>Rosalind Franklin</h1>
    </div>
  </div>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <h1></h1>
      </div>
      <div class="row">
        <div class="col-3">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/ExoMars_prototype_rover_6_%28cropped%29.jpg/1920px-ExoMars_prototype_rover_6_%28cropped%29.jpg"
            alt="" />
        </div>
      </div>
      <div class="row">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">View more photos</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/ExoMars_prototype_rover_6_%28cropped%29.jpg/1920px-ExoMars_prototype_rover_6_%28cropped%29.jpg"
              alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>Rosalind Franklin, previously known as the ExoMars rover, is a planned robotic Mars rover, part of the
            international ExoMars programme led by the European Space Agency and the Russian Roscosmos State
            Corporation. The mission was scheduled to launch in July 2020, but was postponed to 2022.

            The plan calls for a Russian launch vehicle, an ESA carrier model, and a Russian lander named Kazachok,
            that will deploy the rover to Mars' surface. Once it has safely landed, the solar powered rover will
            begin a seven-month (218-sol) mission to search for the existence of past life on Mars. The Trace Gas
            Orbiter (TGO), launched in 2016, will operate as the data-relay satellite of Rosalind Franklin and the
            lander.

            The rover is named after Rosalind Franklin, a British chemist and DNA pioneer.</p>
        </div>
      </div>
  </section>
</main>
<script src="./scriptsub.js"></script>