<main>
  <link rel="stylesheet" href="./css/styleSub.css">
  <form action="http://flip1.engr.oregonstate.edu:58471/">
    <input type="submit" value="Back to Main Page" />
  </form>
  <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
    <input type="submit" value="Back to rover list" />
  </form>
  </div>
  <div class="webTitle">
    <div class="row">
      <h1>Lunokhod 2</h1>
    </div>
  </div>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <div class="col-3">
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Lunokhod-2_model.jpg" alt="" />
        </div>
      </div>
      <div class="row">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">View more photos</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Lunokhod-2_model.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>Lunokhod 2, also known as Аппарат 8ЕЛ № 204 ("Device 8EL No. 204")) was the second of two unmanned lunar
            rovers that
            landed on the Moon by the Soviet Union as part of the Lunokhod programme.
            The Luna 21 spacecraft landed on the Moon and deployed the second Soviet lunar rover, Lunokhod 2, in January
            1973. The primary objectives of the mission were to collect images of the lunar surface, examine
            ambient light levels to determine the feasibility of astronomical observations from the Moon, perform laser
            ranging experiments from Earth, observe solar X-rays, measure local magnetic fields, and study the soil
            mechanics of the lunar surface material.</p>
        </div>
      </div>
    </div>
  </section>s
</main>
<script src="./scriptsub.js"></script>