<main>
  <link rel="stylesheet" href="./css/styleSub.css">

  <form action="http://flip1.engr.oregonstate.edu:58471/">
    <input type="submit" value="Back to Main Page" />
  </form>

  <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
    <input type="submit" value="Back to rover list" />
  </form>

  </div>
  <div class="webTitle">
    <div class="row">
      <h1>Spirit</h1>
    </div>
  </div>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <div class="col-3">
          <img
            src="https://ids.si.edu/ids/deliveryService?max_w=300&id=https://airandspace.si.edu/webimages/640/5995_640.jpg"
            alt="" />
        </div>
      </div>
      <div class="row">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">View more photos</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <div class="col-3">
              <img src="./img/spirit1.jpg" alt="" />
              <img src="./img/spirit2.jpg" alt="" />
              <img src="./img/spirit3.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>Spirit, also known as MER-A (Mars Exploration Rover – A) or MER-2, is a Mars robotic rover,
            active from 2004 to 2010. Spirit was operational on Mars for 2208 sols (2249 days; 6 years, 77 days). It
            was one of two rovers of NASA's Mars Exploration Rover Mission managed by the Jet Propulsion Laboratory
            (JPL).
            Spirit landed successfully within the impact crater Gusev on Mars at 04:35 Ground UTC on January 4, 2004,
            three weeks before its twin, Opportunity (MER-B), which landed on the other side of the planet. Its name was
            chosen through a NASA-sponsored student essay competition. The rover stuck in a "sand trap" in late 2009 at
            an
            angle that hampered recharging of its batteries; its last communication with Earth was on March 22, 2010.

            The rover completed its planned 90-sol mission (slightly less than 92.5 Earth days). Aided by cleaning
            events
            that resulted in more energy from its solar panels, Spirit went on to function effectively over twenty times
            longer than NASA planners expected. Spirit also logged 7.73 km (4.8 mi) of driving instead of the planned
            600
            m (0.4 mi), allowing more extensive geological analysis of Martian rocks and planetary surface features.
            Initial scientific results from the first phase of the mission (the 90-sol prime mission) were published in
            a
            special issue of the journal Science.

            On May 1, 2009 (5 years, 3 months, 27 Earth days after landing; 21 times the planned mission duration),
            Spirit
            became stuck in soft sand. This was not the first of the mission's "embedding events" and for the following
            eight months NASA carefully analyzed the situation, running Earth-based theoretical and practical
            simulations,
            and finally programming the rover to make extrication drives in an attempt to free itself. These efforts
            continued until January 26, 2010 when NASA officials announced that the rover was likely irrecoverably
            obstructed by its location in soft sand, though it continued to perform scientific research from its
            current location.

            The rover continued in a stationary science platform role until communication with Spirit stopped on March
            22,
            2010 (sol 2208). JPL continued to attempt to regain contact until May 24, 2011, when NASA announced
            that efforts to communicate with the unresponsive rover had ended, calling the mission
            complete. A formal farewell took place at NASA headquarters shortly thereafter.</p>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="./js/scriptsub.js"></script>