<main>
  <link rel="stylesheet" href="./css/styleSub.css">
  <form action="http://flip1.engr.oregonstate.edu:58471/">
    <input type="submit" value="Back to Main Page" />
  </form>
  <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
    <input type="submit" value="Back to rover list" />
  </form>
  </div>
  <div class="webTitle">
    <div class="row">
      <h1>Yutu</h1>
    </div>
  </div>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <div class="col-3">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/%E7%8E%89%E5%85%94%E5%8F%B7%E6%9C%88%E7%90%83%E8%BD%A6%EF%BC%881%EF%BC%9A1%EF%BC%89.jpg/1920px-%E7%8E%89%E5%85%94%E5%8F%B7%E6%9C%88%E7%90%83%E8%BD%A6%EF%BC%881%EF%BC%9A1%EF%BC%89.jpg"
            alt="" />
        </div>
      </div>
      <div class="row">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">View more photos</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/%E7%8E%89%E5%85%94%E5%8F%B7%E6%9C%88%E7%90%83%E8%BD%A6%EF%BC%881%EF%BC%9A1%EF%BC%89.jpg/1920px-%E7%8E%89%E5%85%94%E5%8F%B7%E6%9C%88%E7%90%83%E8%BD%A6%EF%BC%881%EF%BC%9A1%EF%BC%89.jpg"
              alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>Yutu was a robotic lunar rover that formed part of the
            Chinese Chang'e 3 mission to the Moon. It was launched at 17:30 UTC on 1 December 2013, and reached the
            Moon's surface on 14 December 2013. The mission marks the first soft landing on the Moon since 1976 and
            the first rover to operate there since the Soviet Lunokhod 2 ceased operations on 11 May 1973.

            The rover encountered operational difficulties toward the end of the second lunar day after surviving and
            recovering successfully from the first 14-day lunar night. It was unable to move after the end of the
            second lunar night, though it continued to gather useful information for some months afterward. In
            October 2015, Yutu set the record for the longest operational period for a rover on the Moon. On 31 July
            2016, Yutu ceased to operate after a total of 31 months, well beyond its original expected lifespan of three
            months.

            In total, while working on the Moon, the rover was able to travel a distance of 114 meters.

            In 2018 the follow-on to the Yutu rover, the Yutu-2 rover, launched as part of the Chang'e 4 mission.</p>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="./scriptsub.js"></script>