<main>
  <link rel="stylesheet" href="./css/styleSub.css">
  <form action="http://flip1.engr.oregonstate.edu:58471/">
    <input type="submit" value="Back to Main Page" />
  </form>
  <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
    <input type="submit" value="Back to rover list" />
  </form>
  </div>
  <div class="webTitle">
    <div class="row">
      <h1>Zhurong</h1>
    </div>
  </div>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <div class="col-3">
          <img
            src="https://cdn.i-scmp.com/sites/default/files/d8/images/canvas/2021/04/24/f9743138-1b55-4933-91ce-8673c7b33d0f_bae4eadc.jpg"
            alt="" />
        </div>
      </div>
      <div class="row">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">View more photos</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://cdn.i-scmp.com/sites/default/files/d8/images/canvas/2021/04/24/f9743138-1b55-4933-91ce-8673c7b33d0f_bae4eadc.jpg"
            alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>Zhurong is a Mars rover that is China's first rover to land on another planet (they had previously landed
            two rovers on the Moon). It is part of the Tianwen-1 mission to Mars conducted by the China National Space
            Administration (CNSA).

            The spacecraft was launched on 23 July 2020 and inserted into Martian orbit on 10 February 2021. The lander,
            carrying the rover, performed a successful soft-landing on Mars on 14 May 2021, making China the second
            country to successfully soft-land a spacecraft on Mars and establish communications from the surface, after
            the United States. Zhurong was successfully deployed on 22 May 2021, 02:40 UTC</p>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="./scriptsub.js"></script>