<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
    {{{body}}}
</body>
{{!-- NEW --}}
<script src="js/download.js"></script>
{{!-- NEW --}}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>