<main>
    <link rel="stylesheet" href="./css/styleSub.css">
  <form action="http://flip1.engr.oregonstate.edu:58471/">
    <input type="submit" value="Back to Main Page" />
  </form>
  <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
    <input type="submit" value="Back to rover list" />
  </form>
  </div>
  <div class="webTitle">
    <div class="row">
      <h1>Curiosity</h1>
    </div>
  </div>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <h1></h1>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="https://mars.nasa.gov/system/feature_items/images/6037_msl_banner.jpg" alt="" />
        </div>
      </div>
      <div class="row">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">View more photos</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://mars.nasa.gov/system/feature_items/images/6037_msl_banner.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>Curiosity is a car-sized Mars rover designed to explore the Gale crater on Mars as part of NASA's Mars
            Science Laboratory (MSL) mission. Curiosity was launched from Cape Canaveral (CCAFS) on 26 November 2011,
            at 15:02:00 UTC and landed on Aeolis Palus inside Gale crater on Mars on 6 August 2012, 05:17:57
            UTC. The Bradbury Landing site was less than 2.4 km (1.5 mi) from the center of the rover's
            touchdown target after a 560 million km (350 million mi) journey.

            The rover's goals include an investigation of the Martian climate and geology, assessment of whether the
            selected field site inside Gale has ever offered environmental conditions favorable for microbial life
            (including investigation of the role of water), and planetary habitability studies in preparation for human
            exploration.

            In December 2012, Curiosity's two-year mission was extended indefinitely, and on 5 August 2017, NASA
            celebrated the fifth anniversary of the Curiosity rover landing. The rover is still operational, and
            as of December 4, 2021, Curiosity has been active on Mars for 3317 sols (3407 total days; 9 years, 120 days)
            since its landing (see current status).

            The NASA/JPL Mars Science Laboratory/Curiosity Project Team was awarded the 2012 Robert J. Collier Trophy by
            the National Aeronautic Association "In recognition of the extraordinary achievements of successfully
            landing Curiosity on Mars, advancing the nation's technological and engineering capabilities, and
            significantly improving humanity's understanding of ancient Martian habitable environments." Curiosity's
            rover design serves as the basis for NASA's 2021 Perseverance mission, which carries different scientific
            instruments.</p>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="./scriptsub.js"></script>