<main>
  <link rel="stylesheet" href="./css/style.css">
  <div class="webTitle">
    <div class="col-3">
      <h1>Roveridia</h1>
    </div>
  </div>
  <div class="row-grey">
    <div class="row">
      <div class="row">
        <h1>What is Roveridia for?</h1>
        <p>Roveridia is a collection of space rovers.</p>
      </div>
    </div>
  </div>
  </section>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <h1>SPACE ROVERS</h1>
      </div>
      <div class="row">
        <div class="col-3">
          <a href="http://flip1.engr.oregonstate.edu:58471/lunokhod1"><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Soviet_moonrover.JPG/1920px-Soviet_moonrover.JPG"
              alt=""></a>
        </div>
        <div class="col-3">
          <img src="" alt="" />
        </div>
        <div class="col-3">
          <a href="http://flip1.engr.oregonstate.edu:58471/lunokhod2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Lunokhod-2_model.jpg" alt="" /></a>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="" alt="" />
        </div>
        <div class="col-3">
          <a href="http://flip1.engr.oregonstate.edu:58471/apollo15LRV">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Apollo15LunarRover.jpg" alt="" /></a>
        </div>
        <div class="col-3">
          <img src="" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <a href="http://flip1.engr.oregonstate.edu:58471/sojourner">
            <img
              src="https://ids.si.edu/ids/deliveryService?max_w=500&id=https://airandspace.si.edu/webimages/640/WEB12070-2011_640.jpg"
              alt="" /></a>
        </div>
        <div class="col-3">
          <img src="" alt="" />
        </div>
        <div class="col-3">
          <a href="http://flip1.engr.oregonstate.edu:58471/spirit"><img
              src="https://ids.si.edu/ids/deliveryService?max_w=300&id=https://airandspace.si.edu/webimages/640/5995_640.jpg"
              alt=""></a>
        </div>
      </div>
      <div class="row">
        <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
          <input type="submit" value="view all rovers" />
        </form>
      </div>
  </section>
  <section class="sec-news">
    <div>
      <div class="row">
        <p>Fun facts: Since human beings launched the first spacecraft, there were lot of thing were left in space,
          including
          trashes from those spacecrafts. If you want to know how many things human beings left near earth, click the
          button
          and check it in the console.
        </p>
      </div>
    </div>
    <div>
      <button id="download">
        show the trashes
      </button>
    </div>
  </section>
  <footer>
    <div class="row">
      <p>Thanks for viewing</p>
    </div>
  </footer>
</main>