<main>
  <link rel="stylesheet" href="./css/styleSub.css">
  <form action="http://flip1.engr.oregonstate.edu:58471/">
    <input type="submit" value="Back to Main Page" />
  </form>
  <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
    <input type="submit" value="Back to rover list" />
  </form>
  </div>
  <div class="webTitle">
    <div class="row">
      <h1>Perseverance</h1>
    </div>
  </div>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <div class="col-3">
          <img src="https://news.mit.edu/sites/default/files/images/202102/MIT-3QMarsRover-01-press.jpg" alt="" />
        </div>
      </div>
      <div class="row">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">View more photos</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://news.mit.edu/sites/default/files/images/202102/MIT-3QMarsRover-01-press.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>also known as Аппарат 8ЕЛ № 203 ("Device 8EL No. 203")) was the first of two robotic lunar rovers landed on
            the Moon by the Soviet Union as part of its Lunokhod program. The Luna 17 spacecraft carried Lunokhod 1 to
            the Moon in 1970. Lunokhod 1 was the first remote-controlled robot "rover" to freely move across the surface
            of an astronomical object beyond the Earth. It was also the first wheeled craft on another celestial
            body. Lunokhod 0 (No.201), the previous and first attempt to do so, launched in February 1969 but failed
            to reach orbit.

            Although only designed for a lifetime of three lunar days (approximately three Earth months), Lunokhod 1
            operated on the lunar surface for eleven lunar days (321 Earth days) and traversed a total distance of 10.54
            km.</p>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="./scriptsub.js"></script>