<main>
    <link rel="stylesheet" href="./css/styleGal.css">
    <div>
        <form action="http://flip1.engr.oregonstate.edu:58471/">
            <input type="submit" value="Back to Main Page" />
        </form>
    </div>
    <div class="webTitle">
        <div class="row">
            <h1>Rover List</h1>
        </div>
    </div>

    <section class="sec-gallery">
        <div class="overlay">
            <div class="row">
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/lunokhod1"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Soviet_moonrover.JPG/1920px-Soviet_moonrover.JPG"
                            alt=""></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/lunokhod1.html">
                            <p>Lunokhod 1</p>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/lunokhod2"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/0/0d/Lunokhod-2_model.jpg" alt="" /></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/lunokhod2.html.html">
                            <p>Lunokhod 2</p>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/apollo15LRV"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Apollo15LunarRover.jpg"
                            alt="" /></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/apollo15LRV">
                            <p>Apollo 15 Lunar Roving Vehicle</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/sojourner"><img
                            src="https://ids.si.edu/ids/deliveryService?max_w=500&id=https://airandspace.si.edu/webimages/640/WEB12070-2011_640.jpg"
                            alt="" /></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/sojourner">
                            <p>Sojourner</p>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/spirit"><img
                            src="https://ids.si.edu/ids/deliveryService?max_w=300&id=https://airandspace.si.edu/webimages/640/5995_640.jpg"
                            alt=""></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/spirit">
                            <p>Spirit</p>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/yutu"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/%E7%8E%89%E5%85%94%E5%8F%B7%E6%9C%88%E7%90%83%E8%BD%A6%EF%BC%881%EF%BC%9A1%EF%BC%89.jpg/1920px-%E7%8E%89%E5%85%94%E5%8F%B7%E6%9C%88%E7%90%83%E8%BD%A6%EF%BC%881%EF%BC%9A1%EF%BC%89.jpg"
                            alt="" /></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/yutu">
                            <p>Yutu</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/opportunity"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/NASA_Mars_Rover.jpg/1280px-NASA_Mars_Rover.jpg"
                            alt=""></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/opportunity">
                            <p>Opportunity</p>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/curiosity"><img
                            src="https://mars.nasa.gov/system/feature_items/images/6037_msl_banner.jpg" alt=""></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/curiosity">
                            <p>Curiosity</p>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/yutu2"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/7/71/ChangE-4%2C_Yutu-2_%28cropped%29.png"
                            alt=""></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/yutu2">
                            <p>Yutu 2</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/perseverance"><img
                            src="https://news.mit.edu/sites/default/files/images/202102/MIT-3QMarsRover-01-press.jpg"
                            alt=""></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/perseverance">
                            <p>Perseverance</p>
                        </a>
                    </div>
                </div>
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/zhurong"><img
                            src="https://cdn.i-scmp.com/sites/default/files/d8/images/canvas/2021/04/24/f9743138-1b55-4933-91ce-8673c7b33d0f_bae4eadc.jpg"
                            alt=""></a>
                    <a href="http://flip1.engr.oregonstate.edu:58471/zhurong">
                        <div class="col-3">
                            <p>Zhurong</p>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="http://flip1.engr.oregonstate.edu:58471/franklin"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/ExoMars_prototype_rover_6_%28cropped%29.jpg/1920px-ExoMars_prototype_rover_6_%28cropped%29.jpg"
                            alt=""></a>
                    <div class="col-3">
                        <a href="http://flip1.engr.oregonstate.edu:58471/franklin">
                            <p>Rosalind Franklin</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="./scriptsub.js"></script>
