<main>
  <link rel="stylesheet" href="./css/styleSub.css">
  <form action="http://flip1.engr.oregonstate.edu:58471/">
    <input type="submit" value="Back to Main Page" />
  </form>
  <form action="http://flip1.engr.oregonstate.edu:58471/roverlist">
    <input type="submit" value="Back to rover list" />
  </form>
  </div>
  <div class="webTitle">
    <div class="row">
      <h1>Yutu 2</h1>
    </div>
  </div>

  <section class="sec-gallery">
    <div class="overlay">
      <div class="row">
        <div class="col-3">
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/ChangE-4%2C_Yutu-2_%28cropped%29.png" alt="" />
        </div>
      </div>
      <div class="row">
        <!-- Trigger/Open The Modal -->
        <button id="myBtn">View more photos</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/71/ChangE-4%2C_Yutu-2_%28cropped%29.png" alt="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <p>Yutu-2 is a robotic lunar rover that formed part of the Chinese Chang'e 4 mission to the Moon. It was
            launched on 7 December 2018, 18:23 UTC. It entered lunar orbit on 12 December 2018, before making the first
            soft landing on the Moon's far side on 3 January 2019, and is currently operational as the first lunar rover
            on the far side.

            As of 12 May 2021, the rover had traveled a distance of 708.9 metres (2,326 ft) along the surface of the
            Moon.</p>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="./scriptsub.js"></script>