// Variables
//$red: #c00;

// Placeholder selectors
%transition {
  transition: all .25s;
}

/*Typography*/
body {
  font: 300 16px 'Roboto', 'Lato', fantasy;
}

/*Layout*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


.wrapper {
  width: 100%;
  height: 15%;
}

section,
footer {
  width: 100%;
}

.row {
  margin: auto;
  width: 100%;
  max-width: 60em;

  /*960px*/
  &:first-child {
    padding-top: 3em;
  }

  &:last-child {
    padding-bottom: 3em;
  }
}

.col-3,
.col-2 {
  display: inline-block;
  vertical-align: top;
}

.col-3 {
  width: 280px;
}

.col-2 {
  width: 49%;
}

@media screen and (max-width: 768px) {

  .col-3,
  .col-2 {
    width: 49%;
  }
}

@media screen and (max-width: 500px) {

  .col-3,
  .col-2 {
    display: block;
    margin: auto;
    width: 80%;
  }
}

.row h1 {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
}

input[type=submit] {
  border-radius: 3px;
  background-color: #6868689e;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: large;
}

/*About*/
.sec-about {
  text-align: center;
}

@media screen and (max-width: 768px) {
  br {
    display: none;
  }
}

.row-red {
  background: $red;
  color: #fff;
}

.row-red .row {
  padding-left: 1em;
  padding-right: 1em;
}

.sec-about p {
  font-size: .90em;
}

.row-grey {
  height: 10%;
  text-align: center;
  width: 100%;
  background: #111;
  color: #ddd;
}

.sec-about .row-grey .row {
  padding: 3em 0;
}

.sec-about article {
  padding: 0 1em;
}

/*Gallery*/
.sec-gallery {
  text-align: center;
  background: url(https://cdn.mos.cms.futurecdn.net/VUL4TtyNpBkotYckYEjUrQ-970-80.jpg) no-repeat center center;
  //background-size: 100% 100%;
  background-size: cover;
  color: #fff;
}

.overlay {
  background: rgba(0, 0, 0, .75);
}

.sec-gallery h1:first-of-type {
  padding: .5em 0;
  color: #fff;
}

.col-3 img {
  width: 100%;
  cursor: pointer;
  @extend %transition;

  &:hover {
    /*opacity: .8;*/
    filter: brightness(50%);
  }
}

/*News*/
.sec-news {
  text-align: center;
}

.sec-news .row>h1 {
  padding-bottom: .5em;
}

.sec-news .col-2 {
  padding: 1em;
}

.post {
  position: relative;
  height: 245px;
  cursor: pointer;
  @extend %transition;

  &:hover {
    opacity: .8;
  }
}

.post span,
.post h1,
.post p {
  position: absolute;
}

.post span {
  padding: .25em .5em;
  font-weight: bold;
  background: $red;
  color: #fff;
  opacity: .85;
}

.post h1 {
  bottom: 0;
  padding-left: .5em;
  width: 100%;
  font-size: 1.15em;
  line-height: 2em;
  text-align: left;
  color: #fff;
  background: rgba(0, 0, 0, .75);
}

.col-2 img {
  width: 100%;
  height: 245px;
}


/*Footer*/
footer {
  background: #111;
}

.soc-media {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.soc-media li {
  margin-right: 1em;
}

.soc-media a {
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
  @extend %transition;

  &:focus,
  &:hover {
    color: $red;
  }

  &:active {
    color: #222;
  }
}

footer p {
  font-size: .85em;
  text-align: center;
  color: #aaa;
}